### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd
import pathlib

# File to Load (Remember to Change These)
file_to_load = pathlib.Path("Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
len(pd.unique(purchase_data['SN']))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_unique_items = len(pd.unique(purchase_data["Item ID"]))
number_of_unique_items

179

In [4]:
average_price = round(purchase_data["Price"].mean(), 2)
average_price

3.05

In [5]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [6]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
purchase_analysis_df =  pd.DataFrame({"Number of Unique Items" : number_of_unique_items,
                         "Average Price": (f'${average_price}'),
                         "Number of Purchases": number_of_purchases,
                         "Total Revenue": (f'${total_revenue}')
                         }, index = [0])
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_d_df = pd.DataFrame([{'Count': None,'Percentage': None}], index = ['Male', 'Female', 'Other/Non-Disclosed'])
gender_d_df

                    Count Percentage
Male                 None       None
Female               None       None
Other/Non-Disclosed  None       None

In [9]:
gender_series = purchase_data["Gender"].value_counts()
gender_series

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
gender_total = gender_series.sum()
gender_total

780

In [11]:
gender_d_df['Count']['Male'] = gender_series["Male"]
gender_d_df['Percentage']['Male'] = gender_series["Male"] / gender_total
gender_d_df['Count']['Female'] = gender_series["Female"]
gender_d_df['Percentage']['Female'] = gender_series["Female"] / gender_total
gender_d_df['Count']['Other/Non-Disclosed'] = gender_series["Other / Non-Disclosed"]
gender_d_df['Percentage']['Other/Non-Disclosed'] = gender_series["Other / Non-Disclosed"] / gender_total
formatted_d_gender_df = gender_d_df.style.format({'Percentage': '{:.2%}' })
formatted_d_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
by_gender_group = purchase_data.groupby("Gender")

purchase_count = by_gender_group.count()["Purchase ID"]
purchase_count.name = "Purchase Count"
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [13]:
average_purchase_price = by_gender_group["Price"].mean()
average_purchase_price.name = "Average Purchase Price"
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [14]:
by_person_group = purchase_data.groupby(["SN", "Gender"])
average_purchase_total = by_person_group.sum()
average_purchase_total = average_purchase_total["Price"].groupby(["Gender"]).mean()
average_purchase_total.name = "Average of Total of Purchases Per Person"
average_purchase_total

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Average of Total of Purchases Per Person, dtype: float64

In [15]:

total_purchase_value = by_gender_group["Price"].sum()
total_purchase_value.name = "Total Purchase Value"
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [16]:
by_gender_df = pd.concat([purchase_count, average_purchase_price, average_purchase_total, total_purchase_value], axis = 1)
by_gender_df

,Purchase Count,Average Purchase Price,Average of Total of Purchases Per Person,Total Purchase Value
Gender,,,,
Female,113,3.203009,4.468395,361.94
Male,652,3.017853,4.065372,1967.64
Other / Non-Disclosed,15,3.346000,4.562727,50.19

In [17]:
format_dict = {'Average Purchase Price':'${0:,.2f}', "Average of Total of Purchases Per Person":'${0:,.2f}', "Total Purchase Value": '${0:,.2f}' }
formatted_by_gender_df = by_gender_df.style.format(format_dict)
formatted_by_gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [502]:
age_df = purchase_data
age_bins = [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]
bin_names = ["0-4","5-8",'9-12','13-16','17-20','21-24','25-28','29-32','33-36','37-40','41-44','45-48']
age_df["Age Group"] = pd.DataFrame(pd.cut(purchase_data['Age'], age_bins, labels = bin_names))
age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,17-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,37-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21-24
4,4,Iskosia90,23,Male,131,Fury,1.44,21-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,21-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,21-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,17-20
778,778,Sisur91,7,Male,92,Final Critic,4.19,5-8
779,779,Ennrian78,24,Male,50,Dawn,4.60,21-24

In [503]:
count_of_unique_users_by_age_group = age_df.groupby("Age Group")["SN"].value_counts().groupby("Age Group").count()
count_of_unique_users_by_age_group.name = "Total Count"
count_of_unique_users_by_age_group

Age Group
13-16     55
17-20    126
21-24    189
25-28     67
29-32     46
33-36     31
37-40     21
41-44      6
45-48      1
5-8       13
9-12      21
Name: Total Count, dtype: int64

In [504]:
sum_of_age_groups = count_of_unique_users_by_age_group.sum()
percent_of_age_groups = count_of_unique_users_by_age_group / sum_of_age_groups
percent_of_age_groups.name = "Percentage"
percent_of_age_groups

Age Group
13-16    0.095486
17-20    0.218750
21-24    0.328125
25-28    0.116319
29-32    0.079861
33-36    0.053819
37-40    0.036458
41-44    0.010417
45-48    0.001736
5-8      0.022569
9-12     0.036458
Name: Percentage, dtype: float64

In [505]:
age_demographics_df = pd.concat([count_of_unique_users_by_age_group, percent_of_age_groups], axis = 1)
format_dict = {'Percentage':'{:.2%}'}
age_demographics_formatted_df = age_demographics_df.style.format(format_dict)
age_demographics_formatted_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [508]:
age_df = purchase_data
age_bins = [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]
bin_names = ["0-4","5-8",'9-12','13-16','17-20','21-24','25-28','29-32','33-36','37-40','41-44','45-48']
age_df["Age Group"] = pd.DataFrame(pd.cut(purchase_data['Age'], age_bins, labels = bin_names))
age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,17-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,37-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21-24
4,4,Iskosia90,23,Male,131,Fury,1.44,21-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,21-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,21-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,17-20
778,778,Sisur91,7,Male,92,Final Critic,4.19,5-8
779,779,Ennrian78,24,Male,50,Dawn,4.60,21-24

In [509]:
agegroup_groupby = age_df.groupby("Age Group")
num_purchases = agegroup_groupby["Purchase ID"].count()
num_purchases.name = "Purchase Count"
num_purchases

Age Group
13-16     71
17-20    170
21-24    266
25-28     88
29-32     63
33-36     42
37-40     28
41-44      6
45-48      1
5-8       17
9-12      28
Name: Purchase Count, dtype: int64

In [510]:
avg_purchase_price = agegroup_groupby["Price"].sum() / num_purchases
avg_purchase_price.name = "Average Purchase Price"
avg_purchase_price

Age Group
13-16    2.993944
17-20    3.123529
21-24    3.006541
25-28    2.929205
29-32    3.052222
33-36    2.895952
37-40    3.560357
41-44    3.305000
45-48    1.700000
5-8      3.462353
9-12     3.024643
Name: Average Purchase Price, dtype: float64

In [511]:
total_purchase_value = agegroup_groupby["Price"].sum()
total_purchase_value.name = 'Total Purchase Value'
total_purchase_value

Age Group
13-16    212.57
17-20    531.00
21-24    799.74
25-28    257.77
29-32    192.29
33-36    121.63
37-40     99.69
41-44     19.83
45-48      1.70
5-8       58.86
9-12      84.69
Name: Total Purchase Value, dtype: float64

In [512]:
avg_total_purchase_per_person = total_purchase_value / count_of_unique_users_by_age_group
avg_total_purchase_per_person.name = "Avg Total Purchase per Person"
avg_total_purchase_per_person

Age Group
13-16    3.864909
17-20    4.214286
21-24    4.231429
25-28    3.847313
29-32    4.180217
33-36    3.923548
37-40    4.747143
41-44    3.305000
45-48    1.700000
5-8      4.527692
9-12     4.032857
Name: Avg Total Purchase per Person, dtype: float64

In [513]:
age_purchase_analysis_df = pd.concat([num_purchases, 
                                      avg_purchase_price, 
                                      total_purchase_value, 
                                      avg_total_purchase_per_person], 
                                     axis = 1)
format_dict = {'Average Purchase Price':'${0:,.2f}', 
               'Total Purchase Value': '${0:,.2f}', 
               'Avg Total Purchase per Person': '${0:,.2f}',
              }
age_purchase_analysis_formatted_df = age_purchase_analysis_df.style.format(format_dict)
age_purchase_analysis_formatted_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
unique_users_df = purchase_data.

In [199]:
total_purchase_value = purchase_data.groupby("SN")["Price"].sum()
total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [200]:
purchase_counts = purchase_data.groupby("SN")["SN"].count()
purchase_counts

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: SN, Length: 576, dtype: int64

In [201]:
average_purchase_price = total_purchase_value / purchase_counts
average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Length: 576, dtype: float64

In [212]:
top_spenders_df = pd.concat([total_purchase_value, 
                             purchase_counts, 
                             average_purchase_price ], 
                            axis = 1, 
                            keys = ["Total Purchase Value",
                                     'Purchase Count',
                                    "Average Purchase Price",
                                    ]
                           )
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending = False)
top_spenders_df

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667
...                           ...             ...                     ...
Ililsasya43                  1.02               1                1.020000
Irilis75                     1.02               1                1.020000
Aidai61                      1.01               1                1.010000
Chanirra79                   1.01               1                1.010000
Alo38                        1.00               1                1.000000

[576 rows x 3 columns]

In [518]:
top_spenders_df.describe()

       Total Purchase Value  Purchase Count  Average Purchase Price
count            576.000000      576.000000              576.000000
mean               4.131545        1.354167                3.046047
std                2.404705        0.626585                1.069521
min                1.000000        1.000000                1.000000
25%                2.450000        1.000000                2.152500
50%                3.720000        1.000000                3.090000
75%                4.902500        2.000000                3.864375
max               18.960000        5.000000                4.990000

In [213]:
format_dict = {"Total Purchase Value": '${0:,.2f}',
                "Average Purchase Price": '${0:,.2f}',
              }
top_spenders_formatted_df = top_spenders_df.head().style.format(format_dict)
top_spenders_formatted_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [415]:
items_df = purchase_data[["Item ID", "Item Name", "Price"]]
items_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [491]:
purchases_per_item = items_df.groupby(["Item ID", "Item Name"])["Item Name"].count()
purchases_per_item

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item Name, Length: 179, dtype: int64

In [490]:
price_per_item = test_df.groupby(["Item ID", "Item Name"])["Price"].mean()
price_per_item

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [492]:
total_purchase_value_per_item = test_df.groupby(["Item ID", "Item Name"])["Price"].sum()
total_purchase_value_per_item

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [493]:
final_items_df = pd.concat([purchases_per_item,
                            price_per_item,
                            total_purchase_value_per_item
                           ],
                           axis = 1,
                           keys = ["Purchase Count", "Item Price", "Total Purchase Value"]
                          )
final_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [499]:
format_dict = {"Item Price": '${0:,.2f}', 
               "Total Purchase Value": '${0:,.2f}' }
most_popular_items_df_formatted = final_items_df.sort_values("Purchase Count", ascending = False).head().style.format(format_dict)
most_popular_items_df_formatted

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [517]:
format_dict = {"Item Price": '${0:,.2f}', 
               "Total Purchase Value": '${0:,.2f}' }
most_profitable_items_df_formatted = final_items_df.sort_values("Total Purchase Value", ascending = False).head().style.format(format_dict)
most_profitable_items_df_formatted